body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

header, nav {
    background-color: #f8f8f8;
    padding: 10px 20px;
}

header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
}

header section {
    display: flex;
    margin: 5px 0;
}

header img {
    height: 60px;
    margin-left: 315px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: gray;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  
  .blog-item {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .blog-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .blog-item h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3;
    color: black;
  }
  
  .blog-item .blog-date {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
    display: block;
  }
  
  .blog-item .blog-summary {
    color: #4a5568;
    margin-bottom: 15px;
    line-height: 1.7;
  }
  
  .blog-item a {
    color: #3a3f51;
    text-decoration: none;
    transition: 0.3s;
  }

  .blog-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

footer {
  background-color: #3a3f51;
  color: #aab0c0;
  text-align: center;
  padding: 3px;
  width: 100%;
  font-size: 15px;
}

@media (max-width: 768px) {
    header {
      padding: 1.5rem;
    }
    
    header h1 {
      font-size: 2rem;
    }
    
    main {
      padding: 1rem;
    }
    
    .blog-item {
      padding: 1.5rem;
    }
    
    .blog-item h2 {
      font-size: 1.5rem;
    }
  }