body {
  margin: 0;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
  background-image: url('desert_hang.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  gap: 20px;
}

.word-display {
  font-size: 30px;
  margin: 0;
  word-spacing: 10px;
  text-align: center;
}

.hint {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.keyboard button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #783e0e;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.keyboard button:hover {
  background-color: #eedc82;
  color: black;
}

.keyboard button.correct {
  background-color: green;
  color: white;
}

.keyboard button.wrong {
  background-color: red;
  color: white;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  overflow: hidden;
}

@media (max-width: 768px) {
  .keyboard button {
    width: 45px;
    height: 45px;
    font-size: 18px;
  }

  .word-display {
    font-size: 24px;
  }

  .hint {
    font-size: 18px;
  }
  
  body {
      background-position: left center;
  }
}
