body {
    font-family: 'Koulen', sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    color: #333;
}

.cv-header {
    display: flex;
    align-items: center;
    background-color: #3E4E50;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    position: relative;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    margin-right: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contact-info p {
    font-size: 16px;
    margin: 5px 0;
}

.contact-info a {
    color: #A88F56;
    text-decoration: none;
}

.cv-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cv-section {
    margin-bottom: 20px;
}

.cv-section h2 {
    font-size: 20px;
    color: #3E4E50;
    border-bottom: 2px solid #A88F56;
    padding-bottom: 5px;
}

.cv-section ul {
    list-style-type: none;
    padding: 0;
}

.cv-section ul li {
    padding: 5px 0;
}

.cv-footer {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.cv-footer a {
    color: #A88F56;
    text-decoration: none;
}
